@font-face {
    font-family: "Nunito";
    src: url(/Шрифты/Nunito/Nunito-Medium.ttf);
}
@font-face{
    font-family: "ArchivoBlack-Regular";
    src: url(/Шрифты/ArchivoBlack-Regular/ArchivoBlack-Regular.ttf);
}
html{
    background-color: #FCFAF9E5;
    /* margin: 0 auto;
    width: 1440px; */
}
header{
    margin: 0 auto;
    width: 1440px;
}
.head{
    margin: 0 auto;
    width: 1440px;
    background-color: #FCFAF9E5;
    width: 1209px;
    height: 40px;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    margin-left: 116px;
    justify-content: start;
    align-items: center;
}

.main-logo__header{
    width: 132px;
    margin-right: 120px;
    height: 40px;
    fill:#1B1F21;
    transition: ease-in-out 0.3s;
}
.main-logo__header:hover{
    width: 132px;
    margin-right: 120px;
    height: 40px;
    fill:#DA3369;
    transition: ease-in-out 0.2s;
}
.head_button{
    margin: 0px;
    display: flex;
}
.button_menu{
    font-family: "Nunito";
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    margin-left: 0px;
    margin-right: 9px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #E8E8E8;
    background-color:#FCFAF9E5;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.5s;
}
.button_menu:nth-child(1):hover{
    background-color: #EC95B1;
    transition: ease 0.5s;
}
.button_menu:nth-child(2):hover{
    background-color: #A4CCFE;
    transition: ease 0.5s;
}
.button_menu:nth-child(3):hover{
    background-color: #D0B0FA;
    transition: ease 0.5s;
}
.button_menu:nth-child(4):hover{
    background-color: #BEDB39;
    transition: ease 0.5s;
}
.button_menu:nth-child(5):hover{
    background-color: #FFAD20;
    transition: ease 0.5s;
}
.button_menu:nth-child(6):hover{
    background-color: #AEDFD6;
    transition: ease 0.5s;
}

.button_menu:last-child{
    font-family: "Nunito";
    font-weight: 500;
    font-size: 15px;
    margin-left: 0px;
    margin-right: 146px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #E8E8E8;
    background-color:#FCFAF9E5;
    border-radius: 20px;
}
.icon__header-search{
    cursor: pointer;
}
.textEbac__header-link{
    font-family: "Nunito";
    font-size: 15px;
    line-height: 21px;
    font-weight: 500;
    margin-left: 27px;
    cursor: pointer;
    transition: ease 0.5s;
    position: relative;
    text-decoration: none;
}
.textEbac__header-link::before {
	content: '';
	left: 0; bottom: -5px;
	width: 0;
	height: 1.5px;
	background-color: #BEDB39;
}

.textEbac__header-link:hover:before {
	width: 170%;
}

.textEbac__header-link::before {
	transition: width 0.35s;
}

.icon__header-link{
    margin-left: 10px;
    cursor: pointer;
}


/* main-container */
.main-container{
    margin: 0 auto;
    width: 1440px;
    margin-top: 80px;
}

.first-info-container{
    display: flex;
    
    width: 1208px;
    height: 560px;
    background-color: #FCFAF9E5;
    margin-left: 116px;
    margin-right: 100px;
}
.img-desktop1{
    mask-image: url(/img/desktop-mask1.png);
    width: 480px;
    height: 560px;
}
.img-icon__transition{
    position: absolute;
    margin-left: 300px;
    width: 180px;
    height: 180px;
    transition: ease-in-out 1.5s;
}
.img-icon__transition:hover{
    transform: rotate(550deg);
}
.info-card--first{
    width: 688px;
    height: 468px;
    margin-top: 46px;
    margin-left: 39px;
}
.info-card__button{
    
}
.buttons__in-first-card{
    color:#94AC23;
    font-family: "Nunito";
    margin-right: 6px;
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    padding: 0px;
    background-color:#FCFAF9E5;
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
}
.buttons__in-first-card:nth-child(1){
    color: #1B1F21;
    font-family: "Nunito";
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    margin-right: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #E8E8E8;
    background-color:#BEDB39;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.5s;
}
.mainText-info-card__first{
    font-family: "ArchivoBlack-Regular";
    font-size: 36px;
    margin-top: 15px;
    line-height: 44px;
    margin-bottom: 0PX;
}
.text-info-card__first{
    font-family: "Nunito";
    color: #757778;
    font-size: 18px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 16px;
}
.overTime__info-card--first{
    display: flex;
}
.textOverTime__info-card{
    font-size: 15px;
    color: #AEAEAE;
    font-family: "Nunito";
    margin: 0 0 0 8px;
}
.iconCalendar__info-card{
    margin-top: 2px;
}
.iconWatch__info-card{
    margin-left: 25px;
}
.visibleTime__info-card{
    font-family: "Nunito";
    color: #AEAEAE;
    font-size: 15px;
    margin: 0 0 0 8px;
}
.readingArticle__link{
    position: relative;
    margin-top: 61px;
    margin-left: 5px;
    font-family: "Nunito";
    border: 1.5px solid;
    background-color: #BEDB39;
    box-sizing: content-box;
    border-radius: 40px;
    font-size: 18px;
    padding: 10px 49px 10px 49px;
    line-height: 28px;
    Box-shadow:0px 0px 0px 5px #BEDB39;
    cursor: pointer;
}

@keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
} 
.creeping-line{
    margin-top: 127px;
    background: #ACD6DE;
    font-family: system-ui;
    font-size: 24px;
    width: auto;
    height: 120px;
    overflow: hidden;
    transform: rotate(-4deg);
    margin-bottom: 201px;
}   
.creeping-line__in{
    display: flex;
    width: fit-content;
    animation: ticker 4s linear infinite;
    -webkit-transform-style: preserve-3d;
}
.creeping-line__item {
    font-family: "ArchivoBlack-Regular";
    color: #1B1F21;
    font-size: 58px;
    font-weight: 900;
    padding-top: 23px;
    padding-bottom: 10px;
    white-space: nowrap;
    -webkit-backface-visibility: hidden; 
}
.icon-stars__in-ticker{
    padding: 0 40px 0 40px;
}
/* второй блок */

.second-info-container{
    margin-left: 116px;
    display: flex;
    margin-top: 136PX;
}
.info-card__item1{
    width: 584px;
    height: 627px;
    margin-right: 40px;
}
.img-desktop2{
    mask-image: url(/img/desktop-mask2.png);
    min-width: 584px;
    height: 328px;
}
.img-icon__fushion{
    position: relative;
    bottom: 48px;
    right: 623px;
    width: 180px;
    height: 180px;
}
.buttons__info-card1--func{
    color:#22C98B;
    font-family: "Nunito";
    margin-right: 6px;
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    padding: 0px;
    background-color:#FCFAF9E5; 
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
}
.buttons__info-card2--func{
    color:#DA3369;
    font-family: "Nunito";
    margin-right: 6px;
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    padding: 0px;
    background-color:#FCFAF9E5; 
    border: none;
    cursor: pointer;
    transition: ease 0.5s;
}
.buttons__info-card1--func:nth-child(1){
    color: #1B1F21;
    font-family: "Nunito";
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    margin-right: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #E8E8E8;
    background-color:#90EECB;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.5s;
}
.buttons__info-card2--func:nth-child(1){
    color: #1B1F21;
    font-family: "Nunito";
    font-weight: 500;
    font-size: 15px;
    height: 37px;
    margin-right: 10px;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border: 1px solid #E8E8E8;
    background-color:#EC95B1;
    border-radius: 20px;
    cursor: pointer;
    transition: ease 0.5s;
}
.info-card__item1__button{
    margin-top: 32px;

}
.img-desktop3{
    mask-image: url(/img/desktop-mask3.png);
    width: 584px;
    height: 328px;
}
.img-icon__diseno{
    position: relative;
    bottom: 48px;
    right: 139px;
    width: 180px;
    height: 180px;
    transition: ease-in-out 1s;
}
.img-icon__diseno:hover{
    transform: rotate(450deg);
}
.img__pos{
    display: flex;
}
.mainText-info-card__item{
    font-family: "ArchivoBlack-Regular";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    color: #1B1F21;
    margin-top: 16px;
    margin-bottom: 10px;
}
.text-info-card__item{
    font-family: "Nunito";
    color: #757778;
    font-size: 17.9px;
    line-height: 29px;
    margin-top: 15px;
    margin-bottom: 18px;
    font-weight: 400;
    letter-spacing: 0px;
    width: 480px;
}