@font-face {
  font-family: "Nunito";
  src: url(./src/Шрифты/Nunito/Nunito-Medium.ttf);
  margin: 0 auto;
}
@font-face{
  font-family: "ArchivoBlack-Regular";
  src: url(./src/Шрифты/ArchivoBlack-Regular/ArchivoBlack-Regular.ttf);
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
}
body{ 
  background-color: #FCFAF9E5;
  height: 3000px;
}
.header{
  background-color: #e08558e5;
  display: flex;
  justify-content: center;
  height: 72px;
  border: solid 1px;
  transition: transform 0.3s ease; /* Анимация скрытия */
  z-index: 10;
  transform: translateY(-100%);
}
.header.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: max-content;
  transform: translateY(0%);
}
.main-block{
  display: flex;
  justify-content: space-between;
  width: 1208px;
  height: 40px;
  margin: 16px 0 16px 0;

}
.searchAndEback{
  display: flex;
  min-width: 114px;
  min-height: 24px;
  margin-top: 11px;
}
.logo{
  transition: 0.5s ease;
  width: 109px;
}
.logo:hover{
  transition: 0.5s ease;
  fill: #DA3369;
  cursor: pointer;
}
.linksHeader__block{
  display: flex;
  justify-content: center;
  margin-left: 9px;
  max-height: 37px;
}
.linkInBlock{
  font-family: "Nunito";
  color: #1B1F21;
  width: auto;
  height: 21px;
  font-size: 15px;
  line-height: 21px;
  text-decoration: none;
  text-align: center;
  align-items: center;
  border-radius: 20px;
  border: solid 1px #E8E8E8;
  padding: 7px 18px 7px 18px;
  margin-top: 3px;
  margin-right: 8px;
  transition: ease 500ms;
}
.linkInBlock:hover:nth-child(1){
  background-color: #EC95B1;
}
.linkInBlock:hover:nth-child(2){
  background-color: #A4CCFE;
}
.linkInBlock:hover:nth-child(3){
  background-color: #BEDB39;
}
.linkInBlock:hover:nth-child(4){
  background-color: #FFAD20;
}
.linkInBlock:hover:nth-child(5){
  background-color: #ACD6DE;
}
.linkInBlock:hover:nth-child(6){
  background-color: #AEDFD6;
}
.iconSearch{
  width: 20px;
  height: 20px;
}
.ebac{
  font-family: "Nunito";
  font-size: 15px;
  color: #1B1F21;
  margin-left: 28px;
}
.linkArrow{
  margin-top: 2px;
  margin-left: 10px;
  width: 16px;
  height: 16px;
}